.x-chart-watermark, .x-scroll-indicator, .x-scroll-bar, .x-scroll-bar-y {
    display: none;
}

.x-toolbar-dark {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #f3f3f3 !important;
}

.x-button.x-button-confirm, .x-toolbar .x-button.x-button-confirm {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-toolbar .x-button.x-button-confirm.x-button-pressing {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-toolbar-dark .x-button {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-button, .x-toolbar .x-button {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-button.x-button-action, .x-toolbar .x-button.x-button-action {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-button.x-button-action, .x-toolbar .x-button.x-button-action {
    border: none !important;
    border-top-color: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-toolbar-dark .x-button.x-button-pressing {
    border: none !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-toolbar.x-docked-bottom {
    border: none !important;
}

.x-toolbar-dark.x-docked-bottom {
    border-top-color: transparent !important;
}

.x-form.x-floating {
    background-color: #f3f3f3 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.x-picker-bar {
    border-top: 0.12em solid #006bb6;
    border-bottom: 0.12em solid #006bb6;
    background-image: none;
    background-color: rgba(13,148,242,0.3);
    background-image: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.x-picker .x-picker-inner {
    background: none !important;
    background-color: #fff !important;
}

.x-slider:before {
    background-image:none !important;
}

.x-thumb:after {
    border: 1px solid #bbb !important;
    background-image: none !important;
    background-color: #ccc !important;
}

.x-thumb.x-dragging:after {
    background-image: none !important;
}

.x-form .x-scroll-container {
    background-color: transparent !important;
}

.x-form-label {
    background-color: #f3f3f3 !important;
}
